.backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    @extend %flex-box;
    justify-content: center;
    transition:  250ms var(--optimal-transition) ;
}